html, body {
  margin: 0;
  min-height: 100%;
  height: 100%; }

a {
  text-decoration: none;
  color: black; }

.active {
  color: #f03235; }

@font-face {
  font-family: MR;
  src: url("../fonts/Montserrat-Bold.ttf"); }
@font-face {
  font-family: Lobster;
  src: url("../fonts/Lobster-Regular.ttf"); }
.nav-bubbles {
  position: fixed;
  left: 97%;
  top: 45%;
  font-size: 50px;
  color: #F4F4F4;
  cursor: pointer;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); }

.nav-logo {
  position: absolute;
  margin-top: 15px;
  margin-left: 50px;
  display: inline-block;
  width: 150px; }

.nav-links {
  position: absolute;
  margin-top: 45px;
  right: 0; }

.nav-link {
  font-family: MR;
  font-size: 20px;
  display: inline-block;
  padding-right: 70px;
  cursor: pointer; }

.home p {
  color: #F4F4F4;
  transition: color, 0.4s, ease-in-out; }

.menu p {
  color: #F4F4F4;
  transition: color, 0.4s, ease-in-out; }

.contact p {
  color: #F4F4F4;
  transition: color, 0.4s, ease-in-out; }

.link-blur p {
  color: rgba(255, 255, 255, 0.2) !important;
  transition: color, 0.4s, ease-in-out; }

.home-page {
  z-index: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/chucksinside2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  background-position: center;
  text-align: center; }

.home-message {
  display: inline-block;
  font-family: Lobster;
  font-size: 35px;
  float: left;
  margin-left: 50px;
  margin-top: 215px;
  color: #F4F4F4; }

.home-video {
  display: inline-block;
  width: 85vw;
  max-width: 830px;
  min-width: 350px;
  height: 60vh;
  margin-top: 24vh;
  margin-right: 50px;
  margin-left: 50px;
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5); }

.menu-page {
  height: 100vh;
  background-color: #ffffff;
  text-align: center; }
  .menu-page .menu-header {
    margin-bottom: 20px;
    text-align: center;
    font-family: MR;
    font-size: 50px;
    color: #373536; }
  .menu-page .menu-img {
    display: inline-block;
    bottom: 0px;
    max-width: 1133px; }
  .menu-page hr {
    width: 90%;
    margin-bottom: 20px;
    margin-top: 20px; }

.contact-page {
  height: 100vh;
  background-color: #F4F4F4;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/chucksinside1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

.contact-header {
  display: block;
  padding-top: 50px;
  color: #F4F4F4;
  font-family: MR;
  font-size: 50px;
  margin-bottom: 50px;
  text-align: center; }

.contact-form {
  display: block;
  margin-left: 50px;
  text-align: left; }
  .contact-form form {
    display: inline-block;
    width: 40%; }
  .contact-form .form-input {
    border-right: 0px;
    border-left: 0px;
    border-top: 0px;
    border-width: 2px;
    background-color: transparent;
    margin-bottom: 20px;
    padding-left: 5px;
    font-family: sans-serif;
    font-size: 20px;
    color: white;
    width: 100%;
    outline: none; }
  .contact-form .form-message {
    border-width: 2px;
    border-style: solid;
    border-color: white;
    background-color: transparent;
    margin-bottom: 20px;
    padding-left: 5px;
    font-family: sans-serif;
    font-size: 20px;
    color: white;
    width: 100%;
    outline: none; }
  .contact-form .form-send {
    border-width: 2px;
    border-style: solid;
    border-color: white;
    background-color: transparent;
    font-family: sans-serif;
    font-size: 20px;
    color: white;
    padding: 5px; }

.contact-email {
  margin-left: 50px;
  margin-top: 30px;
  color: white;
  font-family: MR; }
  .contact-email p {
    display: inline-block;
    font-size: 25px; }
  .contact-email img {
    display: inline-block;
    margin-right: 20px; }

/*# sourceMappingURL=sass.css.map */
